
<div class="container">




  <section id="lista">
    <div class="caja">

      <div id="texto">
        <h2>LISTADO DE USUARIOS REGISTRADOS</h2>
        <p>Listado de usuarios registrados en esta página.</p>
        <div *ngIf="users.length > 0; else noUsers">
          <table id="listado">
            <thead>
              <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Email</th>
                <th>Balance</th>
                <th>Fecha de Creación</th>
                <th>Compras realizadas</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.balance }}</td>
                <td>{{ user.creation_date  }}</td>
                <td>{{user.purchase_count}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <ng-template #noUsers>
          <p>No hay usuarios registrados.</p>
        </ng-template>
      </div>

    </div>
  </section>
  <br>
  <br>



  <br>
  <br>
  <br>
  <br>
  <footer>

    <h3>Timeless Flavour </h3>
    <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><span
        property="dct:title">Timeless
        Flavour</span> by <span property="cc:attributionName">Rodrigo Monterrubio Castro</span> is licensed under <a
        href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank"
        rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img
          style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
          src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img
          style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
          src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""></a></p>
          
          <div id="nets">
            <a href="https://www.instagram.com/rodrigomonterrubiocastro/?hl=es"> <img src="../../../../../../assets/images/icons/instagram.png" width="34px" height="34px" alt="instagram_png" ></a>
            <a href="https://github.com/RodrigoMc016/2-DAW-PROYECTO-FINAL"> <img  src="../../../../../../assets/images/icons/github.png" width="31px" height="32px" alt="github_png" ></a>

          </div>

  </footer>

</div>

