.container{
  width: 59%;
  margin:-42% 25%;
  box-sizing: border-box;

  .caja{
    background-color: white;
    height: 50vh;

    h2, p{
      text-align: center;
    }
    table{
      margin: 5% auto;
      th{
        width: 100px;
        padding: 2%;
        background-color: red;
        text-align: center;
      }
      td{
        text-align: center;

      }
    }
  }
  footer{
    color:white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    h3{
      font-family:Hudson;

    }

    #nets{
      display: flex;
      flex-direction: row;
      margin-left:20%;
    }
    img {
      margin-left:40%;
    }
    a{
      color:rgb(208, 218, 14);
    }
  }




}

@media(max-width:1300px){
  .container{
    margin-top:-600px;

    .caja{
    width: 700px;
     max-width: 700px;
    }
  }
}

@media(max-width:1025px){

  .container{
    margin-top:-550px;
    margin-left:230px;
    footer{
      p{
        margin-left:80px;
      }
      h3{
        font-size: 40px;
      }
      #nets{
        img{
          margin-left:80%;
        }
      }
    }
  }

  }


  @media(max-width:800px){
    .container{
      margin-left:150px;
      .caja{
        width:600px;
      }
    }
  }

  @media(max-width:500px){
    .container{
      margin-left:300px;
      .caja{
        width: 800px;
      }
      footer{
        p{
          margin-left:80px;
        }
        h3{
          font-size: 40px;
        }
        #nets{
          img{
            margin-left:250%;
          }
        }
      }

    }
  }

  @media(max-width:350px){
    .container{
      margin-left:200px;
      margin-top:-400px;
      .caja{
        width: 800px;
      }
      footer{
        p{
          margin-left:80px;
        }
        h3{
          font-size: 40px;
        }
        #nets{
          img{
            margin-left:250%;
          }
        }
      }

    }
  }

