.container {
  width: 100%;
  padding: 0.5%;
  background-color: white;
  height: 99%;



  #datos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h2 {

    text-align: center;
    font-family: Hudson;
    font-size: 26px;
    padding: 0.5%;
    color: rgb(97, 31, 88);
    background-color: rgb(246, 202, 235);
  }

  p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color:rgb(97, 31, 88);
    font-weight: lighter;
  }
}
