.container {

  width: 59%;
  margin: -42% 24%;
  box-sizing: border-box;

  .cajas{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;


    section{
      border:1px black solid;
      background-color: white;
    }
    h2{
      background-color:rgb(246, 202, 235) ;
      padding: 2%;
      text-align: center;
      color:rgb(97, 31, 88);
      font-family:Hudson;
    }
    ul {

      list-style-type: none;

    }
    li {
      margin-bottom: 40px;
      margin-right:20px;
    }
    a {
      color:#8a1538;
      text-decoration: none;
      display: inline-block;

    }

    a:hover{
      color:red;

    }
    button{
      border-radius: 10px;
      padding: 4.5%;
      color: white;
      background-color: black;
      display: block;
      margin: 20px auto;
      font-weight: bold;

    }
    button:hover{
      background-color:#8a1538;
      color:rgb(240, 240, 169);
      cursor: pointer;
    }


  }

  footer{
    color:white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    h3{
      font-family:Hudson;

    }

    #nets{
      display: flex;
      flex-direction: row;
      margin-left:20%;
    }
    img {
      margin-left:40%;
    }
    a{
      color:rgb(208, 218, 14);
    }
  }






}

@media(max-width:1300px){
  .container{
    margin-top:-700px;

    .cajas{
      margin-left:-90px;
    }
  }
}

@media(max-width:950px){
  .container{
    margin-top:-550px;
    margin-left:29%;

  }
}

@media(max-width:500px){
  .container{
    margin-top:-500px;
    margin-left:60%;

  }
  .cajas{
    width: 900px;
    grid-template-columns: 2fr 4fr;
  }
  footer {
    margin-left:50%;
    p {
      margin-left: 80px;
    }

    h3 {
      font-size: 40px;
    }

    #nets {
      img {
        margin-top:90%;
        margin-left: 200%;
      }
    }
  }
}
