<div class="container">
  <div id="titulo" style="display: flex; flex-direction: column; align-items: flex-start; transform: rotate(-90deg); ">


    <h1 [routerLink]="['/TimelessFlavour/home']">Timeless Flavour</h1>
  </div>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/TimelessFlavour/home']">HOME</a>

      </li>
      <li> <a [routerLink]="['/TimelessFlavour/menu']">CARTA</a>
      </li>

      <li>
        <a [routerLink]="['/TimelessFlavour/contacto']">CONTACTO</a>
      </li>
      <li id="usuario">
        <a [routerLink]="['/TimelessFlavour/mi-perfil']"> <img
            src="../../../../../../assets/images/icons/user-solid.svg" width="20px" height="20px"
            alt="user_solid_icon">  </a>
            <br>
            
            <p *ngIf="saldo!== undefined"  class="saldo">Saldo: {{ saldo }} puntos</p>




      </li>

      <li id="carrito">
        <a (click)="openCartModal()"> <img src="../../../../../../assets/images/icons/cart-shopping-solid.svg"
            width="20px" height="20px" alt="shopping_cart_solid_icon"> <span *ngIf="totalCartItems > 0"> *
            {{totalCartItems}}</span><span *ngIf="totalCartItems==0"> * 0</span></a>


      </li>
    </ul>
  </nav>

</div>
