@font-face {
  font-family: Hudson;
  src: url(../../../../../../assets/fonts/Hudson-NY/Hudson\ NY.otf);
}

@font-face {
  font-family: Hudson_2;
  src: url(../../../../../../assets/fonts/Hudson-NY/Hudson\ NY\ Slab.otf);
}



.container {

  height: 100vh;

  #titulo {
    position: fixed;

    transform: rotate(-90deg);

    bottom: 435px;
    left: 59px;

    h1 {
      color: white;
      font-family: Hudson;
      font-size: 50px;
    }

    h1:hover {
      cursor: pointer;

    }

  }



  nav {
    position: relative;
    margin-left: 100px;

  }


  nav ul {


    margin: 2.5%;

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 76px;
    justify-content: center;

    li {

      list-style-type: none;


    }

    li:not(#usuario):not(#carrito) a:hover {
      background-color: white;
      color: rgb(97, 31, 88);
      font-weight: bold;

    }

    a {
      font-family: Hudson;
      text-decoration: none;
      color: white;
      padding: 18px;
      border: white 4px solid;


    }





    #usuario {
      margin-left: 5%;
      font-family: Hudson;
      position: relative;


    }

    #carrito {
      font-family: Hudson;

      font-size: 18px;
      line-height: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-left: 1.5%;
      color: #fff;
      display: block;
      position: relative;


    }

    #carrito:hover {
      cursor: pointer;
    }

    .saldo {
      margin-top: 30px;
      color: white;

    }







  }
}

@media(max-width:1309px) {
  .container {
    #titulo {
      left: -10px;
    }

    nav ul {
      #carrito {
        margin-left: -5.5%;
      }
    }
  }
}


@media(max-width:1160px) {
  .container {
    #titulo {
      left: -20px;
    }

    nav ul {
      #carrito {
        margin-left: -6.5%;
      }
    }
  }
}

@media(max-width:1065px) {
  .container {
    #titulo {
      left: -100px;
    }

    nav ul {
      #carrito {
        margin-left: -7.5%;
      }
    }
  }
}

@media(max-width:975px) {
  .container {
    nav ul {
      margin: 5.5%;

      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      gap: 40px;
      justify-content: center;
    }

    #titulo {
      left: -100px;
    }

    nav ul {
      #carrito {
        margin-left: -7.5%;
      }
    }
  }
}


@media(max-width:870px) {
  .container {
    nav ul {
      margin: 5.5%;

      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      gap: 20px;
      justify-content: center;
    }
  }
}

@media(max-width:769px) {
  .container {
    nav ul {
      margin-top: 10.5%;

      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      gap: 0px;
      justify-content: center;

      #usuario {
        margin-left: 1%;
        line-height: 0;
      }

      #carrito {
        margin-left: -10%;
        line-height: 0;
      }
    }

    #titulo {
      left: -100px;
      bottom: 455px;
    }


  }
}


@media(max-width:665px) {
  .container {
    width: 100vh;

    nav ul {
      li {
        p {
          margin-top: 30px;
        }
      }

      #carrito {
        margin-left: -15%;
        line-height: 0;

      }

    }

  }
}

@media(max-width:469px) {

  .container {

    width: 200vh;

    #titulo {

      position: absolute;
      transform: none !important;
      left: 50%;

      h1 {
        margin-left:10.5%;
        font-size: 80px;
        white-space: nowrap;

      }

    }

    nav {
      margin-top:20%;
      margin-left: -1%;
      width: 150vh;

      ul {
        li {
          p {
            margin-top: 50px;
            font-size:20px;
          }
        }

        a {
          padding: 30px;
        }

        #carrito {
          margin-left: 0%;
          line-height: 0;

        }

      }
    }


  }

}

@media(max-width:376px){
  .container {

    width: 200vh;

    #titulo {

      position: absolute;
      transform: none !important;
      left: 60%;

      h1 {
        font-size: 80px;
        white-space: nowrap;
        /* Prevents text from wrapping to the next line */
      }

    }

    nav {
      margin-top:20%;
      margin-left: -10%;
      width: 200vh;

      ul {
        li {
          p {
            margin-top: 80px;
            font-size:20px;
          }
        }

        a {
          padding: 50px;
          font-size: 30px;
        }
        img{
          width: 28px;
          height: 28px;
        }



      }
    }


  }
}
