.container{
  background-color: white;
  padding: 5%;
  color:black;
  border-radius: 0px;
  text-align: center;

  button{

    display: block;
    padding: 1.5%;
    background-color: #8a1538;
    color:white;
    margin:10px auto;
  }
  button:hover{
    background-color: black;
    cursor: pointer;
  }
}
