.container {
  width: 59%;
  margin: -42% 25%;
  box-sizing: border-box;
  background-color: white;
  height: auto;

  p {
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h2 {
    font-family: Hudson;
    color: rgb(97, 31, 88);
    background-color: rgb(246, 202, 235);
    text-align: center;
  }

  .valoraciones {
    display: flex;
    justify-content: center;

    table {

      margin: 5% auto;

      th {

        width: 200px;
        padding: 2%;
        background-color: goldenrod;
        text-align: center;

      }

      td {
        background-color: aliceblue;
   
        text-align: center;

      }
    }

  }
}

@media(max-width:1025px) {
  .container {
    padding: 0.5%;
    margin-top: -460px;
    margin-left: 150px;
    width: 800px;
  }
}

@media(max-width:869px) {
  .container {
    padding: 0.5%;
    margin-top: -460px;
    margin-left: 120px;
    width: 600px;
  }
}

@media(max-width:500px) {
  .container {
    padding: 2.5%;
    margin-top: -460px;
    margin-left: 200px;
    width: 800px;
  }
}

@media(max-width:350px) {
  .container {
    padding: 2.5%;
    margin-top: -460px;
    margin-left: 200px;
    width: 1000px;
  }
}

@media(max-width:326px) {
  .container {
    padding: 2.5%;
    margin-top: -460px;
    margin-left: 100px;
    width: 1000px;
  }
}
