.container{

  width: 100%;
  max-width: 1200px;

  padding: 20px;
  box-sizing: border-box;

  box-sizing: border-box;
  background-color: white;
  height: 120vh;
  text-align: center;

  h2{
    text-align: center;
    font-family: Hudson;
    font-size: 26px;
    padding: 0.5%;
    color: rgb(97, 31, 88);
    background-color: rgb(246, 202, 235);
  }

  h3{
    font-family: Hudson;
  }
  p{
    color:rgb(97, 31, 88);

  }
  span{
    color:rgb(97, 31, 88);
    margin-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  ul{
    list-style: none;
  }
  input{
    margin-right:10px;
  }
  input#friend{
    width: 200px;
  }

  button{
    margin-right:5px;

    background-color: #f4dec7;
    font-family: Hudson;
    border-color: rgb(97, 31, 88);
    color: rgb(97, 31, 88);
    padding: 1.5%;
  }
  button:hover{
    cursor: pointer;
    background-color: black;
    border-color:#8a1538;
    color:white;

  }
}
