.container{

  width: 100%;
  max-width: 1200px;

  padding: 20px;
  box-sizing: border-box;

  box-sizing: border-box;
  background-color: white;
  height: 120vh;
  text-align: center;
  p{
    color:black;
  }
}
