<div class="container">
  <h2>MIS MOVIMIENTOS</h2>
  <div class="transactions">

    <br>

    <div *ngIf="transactions.length === 0">
      <p>No tienes movimientos registrados.</p>
    </div>

    <table *ngIf="transactions.length > 0">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Tipo</th>
          <th>Euros Usados</th>
          <th>Puntos Usados</th>
          <th>Descripción</th>
          <th>Dirección</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.transaction_date }}</td>
          <td>{{ transaction.transaction_type }}</td>
          <td>{{ transaction.euros_used }}</td>
          <td>{{ transaction.points_used }}</td>
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.address }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
