.container {
  display: block;
  overflow: auto;
  width: 100%;
  max-width: 1200px;

  padding: 20px;
  box-sizing: border-box;

  box-sizing: border-box;
  background-color: white;
  height: 120vh;
  text-align: center;
  
  h2{
    background-color: rgb(246, 202, 235);
    box-sizing: border-box;
    color: rgb(97, 31, 88);
    text-align: center;
    margin: -0.5px auto;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Hudson;
  }

  p {
    color: black;

  }

  .transactions {
    display: block;

    max-height: 2000vh;

    table {
      width: 100%;
      border-collapse: collapse;
      td{
        font-size: 14px;
        padding:10px;
      }
    }
  }

}
