<div class="container">
 <nav id="submenu">
  <ul>
    <li>
    <a> 🍔  Burgers </a>
  </li>
  <li>
    <a>🍟 Complementos </a>
  </li>
  <li>
    <a>🥗 Veganos</a>
  </li>
  <li>
    <a>🧸 Para niños</a>
  </li>
  <li>
    <a>🥤 Bebidas</a>
  </li>
  <li>
    <a>🍰 Postres</a>
  </li>
  </ul>

 </nav>

 <section>
  <div class="cajas">
    <!-- Usar *ngFor para iterar las categorías -->
    <div *ngFor="let category of productsResult | keyvalue" class="categoria" [id]="category.key"> <!--Uso del pipe keyvalue para iterar sobre un objeto y convertirlo en un array "asociativo"-->
      <h2>{{ category.key}}</h2> <!-- Nombre de la categoría usando el .key que es la clave-->
      <div class="caja">
        <!-- Usar *ngFor para iterar los productos dentro de cada categoría -->
        <div *ngFor="let product of category.value" id="producto"> <!--sacar el valor con .value-->
          <img [src]="product.image_url" alt="{{ product.name }}" class="product-image" />
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
          <p>💰 {{ product.price_real  }} $</p>
          <p>🎯 {{ product.price_points }} puntos</p>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
