<div class="container">
  <div class="crud">
    <div class="addProduct">
      <h2>Agregar Producto</h2>
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()" id="form">
        <label for="name">Nombre del Producto</label>
        <br>
        <input id="name" formControlName="name" type="text" placeholder="Nombre del producto" />
        <br>
        <label for="price_real">Precio (€)</label>
        <input id="price_real" formControlName="price_real" type="number" placeholder="Precio real en euros" />
        <br>
        <label for="price_points">Precio (Puntos)</label>
        <br>
        <input id="price_points" formControlName="price_points" type="number" placeholder="Precio en puntos" />
        <br>
        <label for="category_id">Categoría</label>
        <br>
        <select id="category_id" formControlName="category_id">
          <option value="5">Bebidas</option>
          <option value="1">Burgers</option>
          <option value="2">Complementos</option>
          <option value="4">Para Niños</option>
          <option value="6">Postres</option>
          <option value="3">Veganos</option>
        </select>
        <br>
        <label for="description">Descripción</label>
        <br>
        <textarea id="description" formControlName="description" placeholder="Descripción del producto"></textarea>
        <br>
        <label for="image_url">URL de la Imagen (opcional)</label>
        <br>
        <input id="image_url" formControlName="image_url" type="text" placeholder="images/products/product1.jpeg" />
        <br>
        <button type="submit">Agregar Producto</button>
      </form>
      <p id="message" *ngIf="message" class="message">{{ message }}</p>
    </div>
  </div>

  <nav id="submenu">
    <ul>
      <li>
        <a href="javascript:void(0);" (click)="goToCategory('BEBIDAS')"> Bebidas</a>
      </li>
      <li>
        <a href="javascript:void(0);" (click)="goToCategory('BURGERS')"> Burgers</a>
      </li>
      <li>
        <a href="javascript:void(0);" (click)="goToCategory('COMPLEMENTOS')"> Complementos</a>
      </li>
      <li>
        <a href="javascript:void(0);" (click)="goToCategory('PARA NIÑOS')"> Para niños</a>
      </li>
      <li>
        <a href="javascript:void(0);" (click)="goToCategory('POSTRES')"> Postres</a>
      </li>
      <li>
        <a href="javascript:void(0); " (click)="goToCategory('VEGANOS')"> Veganos</a>
      </li>
    </ul>
  </nav>
  <section>

    <div class="cajas">

      <div *ngFor="let category of productsResult | keyvalue" class="categoria" [id]="category.key">
        <!--Uso del pipe keyvalue para iterar sobre un objeto y convertirlo en un array "asociativo"-->
        <h2>{{ category.key}}</h2> <!-- Nombre de la categoría usando el .key que es la clave-->
        <div class="caja">

          <div *ngFor="let product of category.value" id="producto"> <!--sacar el valor con .value-->

            <img [src]="'../../../../../../assets/' + product.image_url" alt="{{ product.name }}"
              class="product-image" />
            <div class="text">
              <h3>{{ product.name }}</h3>
              <p>{{ product.description }}</p>
              <p id="price">{{ product.price_real }} €  <span> {{ product.price_points }} puntos</span>   </p>


              <button (click)="deleteProduct(product.id)">Eliminar</button>
            </div>


          </div>
        </div>
      </div>
      <div id="inicio">
        <button>^</button>
      </div>

    </div>
  </section>
  <footer>

    <h3>Timeless Flavour </h3>
    <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><span
        property="dct:title">Timeless
        Flavour</span> by <span property="cc:attributionName">Rodrigo Monterrubio Castro</span> is licensed under <a
        href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank"
        rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img
          style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
          src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img
          style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
          src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""></a></p>

    <div id="nets">
      <img src="../../../../../../assets/images/icons/instagram.png" width="34px" height="34px" alt="instagram_png">
      <img src="../../../../../../assets/images/icons/github.png" width="31px" height="32px"  alt="github_png">
    </div>

  </footer>

</div>
