/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html {
  scroll-behavior: smooth;
}



.mat-mdc-checkbox .mat-internal-form-field {
--mat-checkbox-label-text-color: black;
}

::ng-deep .mat-dialog-content {
  width: 100%; /* Asegura que el contenido ocupe todo el ancho disponible */
  overflow: hidden; /* Evita el scroll horizontal */
  padding: 20px; /* Ajusta el padding según necesites */
}



body{
  background-color: rgb(97, 31, 88);
}
