.container{

  width: 59%;
  margin:-42% 25%;
  box-sizing: border-box;



  h2{

    font-family:Hudson;
  }

  #novedades{
    p{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    border:1px solid white;
    a{
       margin-left:60%;
      color:rgb(181, 14, 167);
      text-decoration: none;
    }

    a:visited{
      color:red;
    }



    a:hover{
      border:1px solid black;
      background-color: black;
      padding: 0.5%;
      color:white;
    }

  }

  #noticias{
    border:1px solid white;
    p{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    #imagen{
      margin-left:-2%;
      margin-top:-0.2%;
    }

  }



  .caja{
    display: grid;
    grid-template-columns: 1fr 1fr;

    #imagen{
      padding: 1%;
    }

    #texto{
      padding: 1%;



      h2 {
        background-color: rgb(246, 202, 235);
        box-sizing: border-box;
        color: rgb(97, 31, 88);
        text-align: center;
        margin: -0.5px auto;
        height: 130px;
        border-bottom: 7px rgb(183, 34, 34) solid;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p{
        background-color: white;
        padding: 2%;
        height: 301px;
        margin-top:-0.5px;
      }
    }
  }

  #carta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: rgb(246, 202, 235);

    border:2px solid white;
    button{
      border: 4px solid #8a1538;
      background-color: white;
      color: #8a1538;
      font-size: 30px;
      font-family:Hudson;
      font-weight: 400;
      width: 300px;
      height: 80px;
    }

    button:hover{
      cursor: pointer;
      background-color: #8a1538;
      color:white;
    }
  }

  #trio{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    text-align: center;
    gap:20px;

    #introduccion, #reserva, #pedido{
      border:1px solid white;
      background-color: white;

      button{
        border-color:#8a1538;
        background-color: rgb(246, 202, 235);
        padding: 3px 13px 8px ;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-family: Hudson;
      }

      button:hover{
        background-color: #8a1538;
        color:white;
        cursor: pointer;
      }

    }


  }
  footer{
    color:white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    h3{
      font-family:Hudson;

    }

    #nets{
      display: flex;
      flex-direction: row;
      margin-left:20%;
    }
    a {
      margin-left:40%;
    }
    a{
      color:rgb(208, 218, 14);
    }
  }

}


@media(max-width:1309px){
    .container{
      margin-top:-700px;

      section#carta{
        width: 100%;
      }
      section{
        width: 650PX;
        .caja{
          #imagen{
            img{
              height: 100%;
            }
          }
          #texto{
            p{
              height: 70%;
            }
          }
        }
      }


      #trio{
        grid-template-columns: 1fr 1fr;
      }
      footer{
        h3{
          font-size: 25px;
        }
        #nets{
          a{
            margin-left:80%;
          }
        }
      }
    }
}


@media(max-width:800px){
  .container{
    margin-top:-500px;



    section#carta{
      width: 100%;
    }
    section{
      margin-left:-10px;
      width: 500PX;
      .caja{

        #imagen{
          img{
            height: 100%;
            width: 100%;
          }
        }
        #texto{
          p{
            height: 55%;
          }
        }
      }
    }


    #trio{
      margin-left:-10px;
      grid-template-columns: 1fr;
    }
    footer{
      p{
        margin-left:80px;
      }
      h3{
        font-size: 25px;
      }
      #nets{
        a{
          margin-left:100%;
        }
      }
    }
  }
}


@media(max-width:450px){
  .container{
    margin-top:-500px;
    margin-left:300px;


    section#carta{
      width: 270%;
    }
    section{
      margin-left:-10px;
      width: 700PX;
      .caja{

        #imagen{
          img{
            height: 100%;
            width: 100%;
          }
        }
        #texto{
          p{
            height: 55%;
          }
        }
      }
    }


    #trio{
      margin-left:-10px;
      grid-template-columns: 1fr;
    }
    footer{
      p{
        margin-left:80px;
      }
      h3{
        font-size: 40px;
      }
      #nets{
        a{
          margin-left:250%;
        }
      }
    }
  }
}

@media(max-width:330px){
  .container{
    margin-top:-400px;
    margin-left:150px;


    section#carta{
      width: 870px;
    }
    section{
      margin-left:-50px;
      width: 900PX;
      .caja{

        #imagen{
          img{
            height: 100%;
            width: 100%;
          }
        }
        #texto{
          p{
            height: 70%;
          }
        }
      }
    }


    #trio{
      margin-left:-50px;
      grid-template-columns: 1fr;
    }
    footer{
      p{
        margin-left:80px;
      }
      h3{
        font-size: 40px;
      }
      #nets{
        a{
          margin-left:400%;
        }
      }
    }
  }
}
